.language-select {
  .ant-select-selector {
    color: rgba(255, 255, 255, 0.75) !important;
    background-color: transparent !important;
    border-color: transparent !important;
  }
  .ant-select-arrow {
    color: rgba(255, 255, 255, 0.75) !important;
  }
}

.nav-divider {
  border-color: rgba(255, 255, 255, 0.75) !important;
}
